.main-wrapp {
  height: 100vh;
  background-color: aqua;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px auto;
  grid-template-rows: 100px auto;
      grid-template-areas: ". . . . . . . ." ". home   home   home   home   home   home   .";
}

.main-fixed {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px auto;
  grid-template-rows: 100px auto;
  -ms-grid-columns: 280px;
  grid-template-columns: 280px;
      grid-template-areas: "sidebar navbar navbar navbar navbar navbar navbar navbar" "sidebar . . . . . . contacts";
}

.element {
  border: 1px solid black;
}

.main-sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

.main-navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-area: navbar;
}

.main-contacts {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
  grid-area: contacts;
}

.main-home {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: home;
}